<!DOCTYPE html>
<html>
    <head>
        <title>Get Up From Your Chair</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

    	<div class="container">
    		<h1>Get Up - You Need To Move</h1>
    		<h3>It Is For Your Own Good</h3>

    		<div class="container-body">
    			<h3>Where To Begin?</h3>

    			<div id="flex-row">
	    			<p> So I was sitting on my chair at work, and thought to myself: "Wow! when was the last time I got up?"<br>
	    				Then it <span class="big">hit</span> me - I am sitting <span class="big">all day long</span> on my chair at work...<br>
	    				Yes, obviously I am going to eat lunch and some times to grap a coffe, but that is not enough!!
	    			</p>

	    			<p>I needed a way to remind myself to get up from the chair and go to a little walk, to stretch my legs. <br>
	    				And this is the reason for this <span class="big">web app</span>.<br>
	    				All you need to do is just click the button below, it will trigger a timer that will fire every 2 hours,<br>
	    				notify you that it is time to <span class="big">Get Up From Your Chair</span>.
	    			</p>
    			</div>

    			<div id="userInput">
    				<label for="user_time">Time in minutes: (time <= 180)</label>
    				<input type="number" id="user_time" min="1" max="180">
    			</div>

    			<button id="fire">Trigger Your Next Break</button>
    			<!-- <div id="timer">
    			</div> -->
    		</div>
    	</div>
    
    <script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous">
	</script>
    <script src="/scripts/fire.js"></script>
    </body>
</html>